.col{
    display: ;
    font-size: ;
    font-family: ;
}
.col{
    display: ;
    font-size: ;
    font-family: ;
}
.col{
    display: ;
    font-size: ;
    font-family: ;
}
.col{
    display: ;
    font-size: ;
    font-family: ;
}
.col{
    display: ;
    font-size: ;
    font-family: ;
}